<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
   
    <div class="navbar-container">
      <nav class="navbar">
        <ul>
          <img src="{{ url_for('static', filename='images/flatspell_logo.png') }}" alt="Logo">
          <li><a href="{{ url_for('core.home') }}">Home</a></li>
          <li><a href="{{ url_for('core.investment') }}">Investment</a></li>
          <li><a href="{{ url_for('core.commerce') }}">Commerce</a></li>
          <li><a href="{{ url_for('core.community') }}">Community</a></li>
          <li><a href="{{ url_for('core.account') }}"><img src="{{ url_for('static', filename='images/profile_pic_default.jpg') }}" alt="Profile Picture"></a></li>
        </ul>
      </nav>
    </div>

  </head>
  
  <body>

    <div id="content" style="padding-top: 70px;">
      {% block content %}{% endblock %}
    </div>
    <footer>
      <div class="footer-wrapper">
        <div class="footer-content-box">Built in the Pacific Northwest 🌲 🇺🇸</div>
        <div class="footer-content-box">© 2023 Flatspell</div>
        <div class="footer-content-box">
          <a href="https://www.flatspell.co/privacy-policy" target="_blank" class="link">Privacy Policy</a>
        </div>
      </div>
    </footer>

  </body>
</html>