.header-dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #ccc;
}

.header-dropdown h1 {
  flex: 1;
}

.header-dropdown select {
  display: inline-block;
}