body {
  font-family: 'Montserrat', sans-serif;
  padding-left: 40px;
  padding-right: 40px;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  margin-top: 0;
  padding-top: 70px;
}

h2, h3 {
  font-family: 'Montserrat', sans-serif;
}

#map {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 80%;
  margin-left: 250px;
  margin-top: 100px;
}

.commerce-map {
  position: relative;
  height: 600px; /* adjust to desired height */
  width: 100%;
  margin-bottom: 20px;
}

#location-dropdown {
  margin-bottom: 40px;
}

#menu {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  z-index: 0;
}

#menu img {
  max-width: 50%;
  height: auto;
  display: block;
  margin-bottom: 20px;
}

/* Style the menu items */
.menu-item {
  margin-bottom: 40px;
  cursor: pointer;
}

.menu-item:hover {
  color: #fff;
  background-color: #1bae70;
}

.navbar-container {
  /* padding: 0 20px; adjust the padding as needed / */
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.navbar {
  display: flex;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.navbar li {
  margin-right: 10px;
}

.navbar li:last-child {
  margin-right: 0;
}

.navbar li a {
  display: block;
  color: #1bae70;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  size: 14px;
}

.navbar li a:hover {
  background-color: transparent;
  color: #000;
}

.navbar img {
  margin-right: 40px;
  height: 32px;
  width: 32px;
  background-color: transparent;
  opacity: 0.5;
  transition: opacity 0.2s ease-in-out;
}

.navbar img:hover {
  opacity: 1;
  color: #000;
}

#content {
  padding-top: 50px;
}

table {
  width: 100%;
  border: 1px solid #ccc;
  background-color: #f2f2f2;
  font-size: 14px;
}
th, td {
  padding: 8px;
  text-align: left;
}
th {
  background-color: #1bae70;
  color: #fff;
}

.big-value-container {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.big-value-item {
  flex: 1;
  position: relative;
}

.big-value {
  font-size: 48px;
  font-weight: bold;
  margin: 0;
  position: relative;
}

.arrow-up {
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 36px;
  color: green;
  margin-left: 10px;
  right: -25px;
}

.arrow-down {
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 36px;
  color: red;
  margin-left: 10px;
  right: -25px;
  transform: rotate(180deg); /* Rotate the arrow 180 degrees to point down */
}

#heatmap-container {
  height: 500px;
  width: 100%;
}

.horizontal-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.horizontal-list li {
  margin-right: 20px;
}

.horizontal-list li:last-child {
  margin-right: 0;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9;
  padding: 10px 20px;
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}

.text-block-4 {
  margin: 0;
}

.text-block-3 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 5px;
  text-align: center;
}

.link {
  margin-left: auto;
  float: right;
}