body {
  font-family: 'Montserrat', sans-serif;
  padding-left: 40px;
  padding-right: 40px;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  margin-top: 0;
  padding-top: 70px;
}

h2, h3 {
  font-family: 'Montserrat', sans-serif;
}

#content {
  padding-top: 50px;
}

table {
  width: 100%;
  border: 1px solid #ccc;
  background-color: #f2f2f2;
  font-size: 14px;
}
th, td {
  padding: 8px;
  text-align: left;
}
th {
  background-color: #1bae70;
  color: #fff;
}

.big-value-container {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.big-value-item {
  flex: 1;
  position: relative;
}

.big-value {
  font-size: 48px;
  font-weight: bold;
  margin: 0;
  position: relative;
}

#heatmap-container {
  height: 500px;
  width: 100%;
}

.horizontal-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.horizontal-list li {
  margin-right: 20px;
}

.horizontal-list li:last-child {
  margin-right: 0;
}

.text-block-4 {
  margin: 0;
}

.text-block-3 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 5px;
  text-align: center;
}

.link {
  margin-left: auto;
  float: right;
}

.search-filter-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 500px;
  margin-top: 200px;
  margin-bottom: 20px;
}

/* #location-dropdown {
  margin-bottom: 40px;
} */

.header-dropdown {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.header-dropdown h1 {
  display: inline-block;
  margin-right: 20px;
}

.header-dropdown select {
  vertical-align: middle;
  display: inline-flex;
  height: 50px;
  padding: 0 10px;
  margin-left: 20px;
  background-color: #fff;
  color: #555;
  font-size: 1.25rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}