#map {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 80%;
  margin-left: 250px;
}

#location-dropdown {
  margin-bottom: 40px;
}

#menu {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  z-index: 0;
}

#menu img {
  max-width: 50%;
  height: auto;
  display: block;
  margin-bottom: 20px;
}

/* Style the menu items */
.menu-item {
  margin-bottom: 40px;
  cursor: pointer;
}

.menu-item:hover {
  color: #fff;
  background-color: #1bae70;
}

.navbar {
  overflow: visible;
  background-color: rgb(255, 255, 255);
  z-index: 999;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: #1bae70;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: #333;
}

#content {
  padding-top: 50px;
}

table {
  width: 100%;
  border: 1px solid #ccc;
  background-color: #f2f2f2;
  font-size: 14px;
}
th, td {
  padding: 8px;
  text-align: left;
}
th {
  background-color: #1bae70;
  color: #fff;
}

.big-value-container {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.big-value-item {
  flex: 1;
  position: relative;
}

.big-value {
  font-size: 48px;
  font-weight: bold;
  margin: 0;
  display: inline-block; /* Make the big value and arrow inline-block elements to allow vertical alignment */
  vertical-align: middle; /* Vertically center the big value and arrow */
}

.arrow-up {
  display: inline-block;
  margin-left: 10px; /* Add some space between the big value and arrow */
  vertical-align: middle; /* Vertically center the arrow */
  font-size: 36px; /* Adjust the size of the arrow */
  color: green; /* Set the color of the upward-pointing arrow */
  transform: translateY(-50%) rotate(45deg); /* Rotate the arrow 45 degrees */
}

.arrow-down {
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
  font-size: 36px;
  color: red; /* Set the color of the downward-pointing arrow */
  transform: translateY(-50%) rotate(-45deg); /* Rotate the arrow -45 degrees */
}