<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <div class="navbar-container">
    <nav class="navbar">
        <ul>
          <img src="{{ url_for('static', filename='images/flatspell_logo.png') }}" alt="Logo">
          <li><a href="{{ url_for('home') }}">HOME</a></li>
          <li><a href="{{ url_for('investment') }}">INVESTMENT</a></li>
          <li><a href="{{ url_for('small_business') }}">SMALL BUSINESS</a></li>
          <li><a href="{{ url_for('commerce') }}">COMMERCE</a></li>
          <li><a href="{{ url_for('community') }}">COMMUNITY</a></li>
          <li><a href="{{ url_for('local_wealth_fund') }}">LOCAL WEALTH FUND</a></li>
        </ul>
      </nav>
    </div>
    <div id="content" style="padding-top: 70px;">
      {% block content %}{% endblock %}
    </div>
    <footer>
      <p>&copy; 2023 Flatspell</p>
    </footer>
  </body>
</html>
