{% extends 'base.html' %}

{% block title %}Commerce{% endblock %}

{% block content %}
  <h1>Commerce</h1>

  <select id="location-dropdown">
    <option value="juneau-ak">Juneau, AK</option>
    <option value="port-angeles-wa">Port Angeles, WA</option>
    <option value="port-townsend-wa">Port Townsend, WA</option>
  </select>
  <ul>

    <h2>Economic Overview</h2>

      <div class="big-value-container">
        <div class="big-value-item">
          <h3>Population</h3>
          <p class="big-value">20,071<span class="arrow-up"></span></p>
        </div>
        <div class="big-value-item">
          <h3>Median Household Income</h3>
          <p class="big-value">$48,567<span class="arrow-up"></span></p>
        </div>
        <div class="big-value-item">
          <h3>Poverty Rate</h3>
          <p class="big-value">14.6%<span class="arrow-down"></span></p>
        </div>
      </div>
      
    <h2>Local Businesses</h2>
      <table>
        <tr>
          <th>Business Name</th>
          <th>Type</th>
          <th>Location</th>
          <th>Weekly Sales</th>
          <th>Weekly Vistors</th>
        </tr>
        <tr>
          <td>Al's Toy Barn</td>
          <td>Retail</td>
          <td>767 Front Street</td>
          <td>$19,250</td>
          <td>600</td>
        </tr>
        <tr>
          <td>La Ratatouille</td>
          <td>Restaurant</td>
          <td>123 Main Street</td>
          <td>$22,300</td>
          <td>520</td>
        </tr>
      </table>
    <h2>Tourism Data</h2>
    <div id="heatmap-container"></div>
    <script src="heatmap.js"></script>
  </ul>
  
{% endblock %}
