<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flatspell Mapping App</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
</head>
<body>
  
    <div id="menu">
      <img src="{{ url_for('static', filename='images/flatspell_logo_256x256px.png') }}" alt="Logo">
      <h2>Community-App</h2>  

      <select id="location-dropdown">
        <option value="juneau-ak">Juneau, AK</option>
        <option value="port-angeles-wa">Port Angeles, WA</option>
        <option value="port-townsend-wa">Port Townsend, WA</option>
      </select>

      <div class="menu-item"><a href="{{ url_for('investment') }}">Investment</a></div>
      <div class="menu-item"><a href="{{ url_for('small_business') }}">Small Business</a></div>
      <div class="menu-item"><a href="{{ url_for('commerce') }}">Commerce</a></div>
      <div class="menu-item"><a href="{{ url_for('community') }}">Community</a></div>
      <div class="menu-item"><a href="{{ url_for('local_wealth_fund') }}">Local Wealth Fund</a></div>      
    
      <footer>
        <p>&copy; 2023 Flatspell</p>
      </footer>

    </div>

    <div id="map"></div>
    
    <script src="static/js/map.js"></script>

</body>
</html>
