{% extends 'base.html' %}

{% block title %}Homepage{% endblock %}

{% block content %}

<!DOCTYPE html>

<html lang="en">
  
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flatspell Mapping App</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
</head>

<body>
  <div class="filter-bar">
    <div class="filter-item">
      <select id="location-dropdown">
        <option value="juneau-ak">Juneau, AK</option>
        <option value="port-angeles-wa" selected>Port Angeles, WA</option>
        <option value="port-townsend-wa">Port Townsend, WA</option>
      </select>
    </div>
    <div class="filter-item">
      <select id="business-type-dropdown">
        <option value="retail">Retail</option>
        <option value="restaurant">Restaurant</option>
        <option value="manufacturing">Manufacturing</option>
      </select>
    </div>
    <div class="filter-item">
      <select id="business-type-dropdown">
        <option value="retail">Retail</option>
        <option value="restaurant">Restaurant</option>
        <option value="manufacturing">Manufacturing</option>
      </select>    
    </div>
    <div class="filter-item">
      <select id="business-type-dropdown">
        <option value="retail">Retail</option>
        <option value="restaurant">Restaurant</option>
        <option value="manufacturing">Manufacturing</option>
      </select>
    </div>
  </div>
  
  <div class="map-container">
    <div id="map"></div>
  </div>
  
  <script src="static/js/map.js"></script>

</body>
</html>
{% endblock %}