{% extends 'base.html' %}

{% block title %}Local Investment{% endblock %}

{% block content %}
  <h1>Local Investment</h1>
  <select id="location-dropdown">
    <option value="juneau-ak">Juneau, AK</option>
    <option value="port-angeles-wa">Port Angeles, WA</option>
    <option value="port-townsend-wa">Port Townsend, WA</option>
  </select>
  <ul>
    <li>Prospect New Deals</li>
    <li>Ongoing Investment Applications</li>
    <li>Securitization</li>
    <li>Crowdfunding Opportunities</li>
    <li>Deal Flow</li>
  </ul>
{% endblock %}
