{% extends '_base.html' %}

{% block title %}Commerce{% endblock %}

{% block content %}
<div class="main-content">
  <div class="header-dropdown">
    <h1>Commerce</h1>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header_dropdown.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navigation.css') }}">
    <select id="location-dropdown">
      <option value="port-angeles-wa">Clallam County, WA (COIN)</option>
      <!-- <option value="port-townsend-wa">Jefferson County, WA (LION)</option> -->
    </select>
  </div>

  <ul>
    <h2>Local Businesses</h2>
    <iframe class="airtable-embed" src="https://airtable.com/embed/shroCytNv48jt3Mel?backgroundColor=green" frameborder="0" onmousewheel="" width="100%" height="533" style="background: transparent; border: 1px solid #ccc;"></iframe>
  </ul>
</div>
{% endblock %}
