{% extends 'base.html' %}

{% block title %}Community{% endblock %}

{% block content %}
<div class="header-dropdown">
  <h1>Community</h1>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/header_dropdown.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/community.css') }}">
  <select id="location-dropdown">
		<option value="port-angeles-wa">Port Angeles, WA</option>
    <option value="port-townsend-wa">Port Townsend, WA</option>
  </select>
</div>

<main class="community-main">
  <section class="community-section">
    <h2>Investor Forums</h2>
    <p>Click here to see each of your individual business investment discussions with businesses, chamber of commerce, and other investors.</p>
		<img class="community-image" src="{{ url_for('static', filename='images/undraw_community_re_cyrm.svg') }}" alt="Image Description">
    <a href="#">Join the Forum</a>
  </section>
  
  <section class="community-section">
    <h2>Event Coordination</h2>
    <p>Schedule workshops, networking events and stay up-to-date on business opportunities in your community. We offer both in-person and virtual event management.</p>
		<img class="community-image" src="{{ url_for('static', filename='images/undraw_conversation_re_c26v.svg') }}" alt="Image Description">
    <a href="#">Manage Upcoming Events</a>
  </section>
  
  <section class="community-section">
    <h2>Investment & Business Resources</h2>
    <p>We have plenty of FAQs to help with grant writing, due diligence, business registration, and managing the many challenges to growing the business of your dreams.</p>
		<img class="community-image" src="{{ url_for('static', filename='images/undraw_online_articles_re_yrkj.svg') }}" alt="Image Description">
    <a href="#">Access Resources</a>
  </section>
</main>
{% endblock %}